<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>해 킹 금 지</title>

    <meta property="og:title" content="해킹금지해킹금지해킹금지" />
    <meta property="og:description" content="해킹은 범죄입니다...." />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.JPG') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .productImg {
            background-image: url("http://openimage.interpark.com/goods_image_big/1/3/0/9/8323741309_l.jpg");

            width: 500px;
            height: 400px;

            margin: 10px auto 10px auto;

            background-size: cover;
            background-position: center;
        }

        .btnOrder {
            margin: auto auto 15px auto;
            display: block;
        }
    </style>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    let rate = response['rate']
                    $('#dwRate').text(rate)
                }
            })

            showOrders()
        })

        function orderProduct() {
            let name = $('#name').val()
            let amount = $('#amount').val()
            let address = $('#address').val()
            let phone = $('#phone').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, amount_give: amount, address_give: address, phone_give: phone},
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                    window.location.reload()
                }
            })
        }

        function showOrders() {
            $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let orders = response['orders']

                        for(let i=0; i<orders.length; i++) {
                            let name = orders[i]['name']
                            let amount = orders[i]['amount']
                            let address = orders[i]['address']
                            let phone = orders[i]['phone']

                            let temp_html = `<tr>
                                                <th scope="row">${name}</th>
                                                <td>${amount}</td>
                                                <td>${address}</td>
                                                <td>${phone}</td>
                                            </tr>`

                            $('#orderList').append(temp_html)
                        }
                    }
                })
        }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="productImg"></div>
        <div>
            <h1>양초를 팝니다 <span style="font-size: 20px">가격: 3000원/개</span></h1>
            <p>이 양초는 사실 특별한 힘을 가지고 있어요. 양초를 켜고 소원을 빌면 뭐든지 이뤄지게 된답니다. 하나 사가세요!
                대나무 향이 아주 좋아요</p>
            <p style="color: blue">달러-원 환율: <span id="dwRate"></span></p>
        </div>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">주문자 이름</span>
                </div>
                <input id="name" type="text" class="form-control" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">수량</label>
                </div>
                <select id="amount" class="custom-select" id="inputGroupSelect01">
                    <option selected>--수량을 선택하세요--</option>
                    <option value="1">1개</option>
                    <option value="2">2개</option>
                    <option value="3">3개</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">주소</span>
                </div>
                <input id="address" type="text" class="form-control" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">전화번호</span>
                </div>
                <input id="phone" type="text" class="form-control" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <button onclick="orderProduct()" type="button" class="btn btn-primary btnOrder">주문하기</button>
        </div>
        <table class="table">
          <thead>
          <tr>
              <th scope="col">이름</th>
              <th scope="col">수량</th>
              <th scope="col">주소</th>
              <th scope="col">전화번호</th>
          </tr>
          </thead>
            <tbody id="orderList">
            </tbody>
        </table>
    </div>
</body>

</html>